

$font_sans: "Lato", "Helvetica Neue", helvetica, arial, sans-serif;
$font-handwritten: "Kalam", "Chalkboard", "Comic Sans", script;

$color_background: #bdcbcc;
$color_teal: #537375;
$color_yellow: #efe8be;
$color_orange: #d16221;
$color_brightblue: #3685dd;
$color_royalblue: #2c48b3;